<h1>Conditions Générales</h1>

    <p>Nos conditions générales de ventes sont présentes sur tous les devis envoyés à nos clients.</p>
    <p>Retrouvez ci-dessous nos conditions générales de ventes spécifiques.</p>
    <p>Si vous souhaitez obtenir une copie de nos conditions générales de ventes spécifiques aux prestations de
    création / refonte de site internet / e-commerce, merci de nous contacter.</p>
