<h1>Politiques de confidentialité</h1>


  <h2>Vie privé et données à caractère personnel</h2>
    <p>Chez SmartWebCréation, nous respectons votre vie privée. Afin que vous puissiez accéder
    à nos produits et services nous devons parfois recueillir et stocker
    des données à caractère personnel vous concernant lors de votre utilisation de notre site (https://www.siteweb-creation.fr/).</p>

  <h2>Que recueillons-nous ?</h2>
    <p>Les informations que vous nous communiquez lors de la création d'une demande de devis ou de contact y
    compris votre nom complet, votre adresse postale, votre adresse mail et éventuellement votre numéro de téléphone.
    Lorsque vous utilisez ce site, les informations concernant les produits, les offres et les informations avec
    lesquels vous interagissez peuvent également être stockées dans un cookie
    et éventuellement liées avec celles de votre profil utilisateur si il existe et que vous êtes connecté.</p>


  <h2>Comment ces informations sont-elles utilisées ?</h2>
    <p>Ces informations ne sont utilisées que pour
    vous permettre d'accéder de la manière la plus simple et efficace possible à nos produits et services.
    Les statistiques sur l'utilisation que vous faites du site sont
    également utilisées pour l'améliorer tout autant que les services fournis.</p>

  <h2>À qui puis-je m'adresser ?</h2>
    <p>Chez SmartWebCréation, le délégué à la protection des données est Christophe JULLIEN
    qui est joignable à l’adresse e-mail suivante : contact@siteweb-creation.fr</p>

  <h2>Avec qui mes informations sont-elles partagées ?</h2>
    <p>Tout ou partie de vos informations peut-être partager avec les systèmes informatiques des tiers suivants à des fins de sauvegarde,
    statistique, livraison, paiement ou communication :</p>
      <ul>
        <li>YMLP (nom, prénom et adresse emails uniquement).</li>
        <li>Google (adresse IP uniquement).</li>
      </ul>

    <p>Nous veillons cependant à n’exporter que le minimum d’informations requis pour les actions à effectuer et au respect
    de la confidentialité de vos données par nos partenaires ou prestataires.
    Cependant SmartWebCréation ne pourrait être tenu responsable en cas de fuite ou vol de données dans les systèmes informatiques
    des tiers listés ci-dessus.</p>

  <h2>Quelle est la durée de conservation de mes données ?</h2>
    <p>Vos données personnelles sont stockées aussi longtemps que vous êtes inscrit(e) en tant que client(e)
    sur notre site ou en tant que destinataire sur notre liste de diffusion.
    Les autres données, en général transmises lors d'une demande (contact, devis, support), sont conservées au maximum 24 mois.</p>

  <h2>Comment puis-je retirer mon consentement donné à SmartWebCréation de stocker et traiter mes données à caractère personnel ?</h2>
    <p>Si vous avez précédemment donner votre accord à SmartWebCréation pour stocker et traiter vos données à caractère personnel
    conformément avec la politique de confidentialité, et que vous voulez le retirer, vous pouvez envoyer un e-mail au délégué
    à la protection des données à l'adresse suivante : contact@siteweb-creation.fr
    Dès lors, vous n'aurez plus la possibilité d’accéder aux services de notre site qui nécessitent une authentification.</p>

  <h2>Comment puis-je réclamer que mes données à caractère personnel soient corrigées ou supprimées ?</h2>
    <p>Vous pouvez demander la correction des informations de votre profil en nous adressant une demande par email.
    Si vous avez des questions, ou que vous souhaiteriez que d'autres données soient corrigées ou effacées,
    vous pouvez envoyer un courriel au délégué à la protection des données à l'adresse suivante : contact@siteweb-creation.fr</p>

  <h2>Comment réclamer une copie de mes données à caractère personnel qui ont été recueillies ?</h2>
    <p>Vous pouvez demander une copie de toutes les données à caractère personnel vous concernant conformément avec
    cette politique de confidentialité.
    Pour ce faire, vous pouvez envoyer un courriel au délégué à la protection des données à l'adresse suivante : contact@siteweb-creation.fr</p>
