<h1>Bienvenue sur le site SmartWebDesigner</h1>
    <h3>Concepteur de sites web, de sites internet et de sites e-commerces</h3>

  <h2>Pourquoi créer un site web ?</h2>
    <p>De nos jours, il semblerait évident de créer son site web, mais certaines personnes se posent encore
    la question de son utilité et de "comment ça marche".
    Un site web, qu'il sagisse d'une simple vitrine ou d'un site plus complexe, tel qu'un site e-commerce, permet
    d'améliorer sa visibilité marketing, quelque soit le produit ou le service vendu.
    Le site web, informe les futurs clients que votre entreprise existe, que votre produit est attractif, parfois innovent mais
    avant tout, que vous répondez à un besoin : celui du client.</p>

  <h2>Quand créer ou concevoir un site web ?</h2>
    <p>Tout dépend de votre besoin, ou du caractère "urgent" ; en effet, une association pourrait ne pas avoir les mêmes besoins
    de rapidité d'existance sur le web, qu'une entreprise de vente en ligne par exemple, qui n'a pas non plus les mêmes
    exigences en terme de référencement ou de fonctionnalités. Un simple site web dit "vitrine" pourrait largement suffire, par exemple.
    Selon le site web à créer, le temps de réalisation et de prodcution (mise en ligne) n'est pas indentique pour chaque création.</p>

  <h2>Quel site web choisir ?</h2>
    <p>Une création de site internet peut varier de quelque jours à 2-3 semaines.
    Cela s'explique par la compléxité choisie par le client et de ses besoins. Un site e-commerce ne se concevra pas de la même façon qu'un
    site internet dit "vitrine". Vous verez sur notre site web de création les différentes conceptions possible qui répondra nécessairement
    à vos besoins, après conseils de nos services.</p>

<div>
<%= link_to "Accueil", root_path %>
<%= link_to "Tarifs",tarifs_creation_site_web_path %>
<%= link_to "Contact", contact_path %>
</div>
