<h1>Tarifs de creation de site web</h1>


<p>Pack Budget

Pour être rapidement présent sur le net
599€ Site web à prix mini
Plus de détails

    Un design simple
    Hébergement + nom de domaine
    offert pendant 1 an
    1 page de contenu (pages supplémentaires en option)
    Un formulaire de contact
    Optimisation SEO
    Mise à jour et assistance
    offertes pendant 1 an
    Livré sous 10 jours environ</p>

    <p>Pack WordPress

Le site vitrine professionnel
1199€ Design et fonctionnalités
Plus de détails

    Design sur-mesure
    Hébergement + nom de domaine
    offert pendant 1 an
    8 pages de contenu incluses
    (pages supplémentaires en option)
    1 page contact avec formulaire
    Un back-office d’administration
    pour gérer vos contenus
    Un espace blog
    Optimisation SEO
    Une formation de 2H au back-office
    Livré sous 20 jours environ</p>

    <p>Pack E-commerce

La boutique de vente en ligne
2399€ Pour les e-commercants
Plus de détails

    Design sur mesure
    Hébergement + nom de domaine
    offert pendant 1 an
    8 pages de contenu incluses
    (pages supplémentaires en option)
    1 page de contact avec formulaire
    Création de 20 fiches produits
    Installation des modules de paiement
    (CB, chèque, virement bancaire, Paypal)
    Un back-office d’administration
    pour gérer votre boutique
    Optimisation SEO
    Une formation de 4H au back-office
    Livré sous 30 jours environ</p>
